.parentDiv{
    width: 800px;
    height: 800px;
    background-image: url("../../assets/Castle Wall.jpg");
    background-size: cover;
    border: 5px;
    border-color: white;
    border-style: solid;
}


.imgWizard {
    width: 300px;
    height: 300px;
}

.imgForest {
    width: 800px;
    height: 800px;
    background-size: cover;
    border: 5px;
    border-color: white;
    border-style: solid;
    margin-top: 10px;
}